@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');


body{
        font-family: helvetica, arial, serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }
  .active-hide{
    display: none;
}
.active-fix{
    top:0;}

nav{
    align-items: center;
    
}
.nav1{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0px;
    position: absolute;
    }
    
.nav1 a{

    background: #3379b786;
    
    padding: 10px;
    text-decoration: none;
    margin-right: 20px;
     color:white;
    font-size: 16px;}
.nav img{
    justify-content: flex-start;
    width: 180px;
}

.callback-btn {
display: flex;
text-align: center;

}

.nav1 a:hover{
    background:#3379b700;
    color: #8598b1;
}


.topnav{
    background-color: white;
    width: 100%;
    height: 40px;
    position: fixed;
}




    
    .img-responsive{
        padding: 20px;
    }
     .telephone a{
         display: flex;
        color:#8598b1;

        text-decoration: none;
       


    }
    .fas-fa-phone-alt{
        width: 20px;
        color:black;
        
    }
    i{
        width: 20px;
        color: black;
        
        
    }

#particles-js{
    
    background-image: url(bg\ \(1\).jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
  background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
}
 .particles-js canvas {
    
   opacity: 50%;
    width: 100%;
    height: 120vh;
  }
  

 
 
  
  
 

a {
    text-decoration: none;
    color: #005a87;
    display:flex ;
  }
  
  ul {
    list-style: none;
    position: absolute;
    text-align: left;
    justify-content: center;
    align-self:start;
    align-items: flex-start;
       
  }
  
  li {
    float: left;
  }
  
  /* clear'n floats */
  ul:after {
    clear: both;
  }
  
  ul:before,
  ul:after {
      content: " ";
      display: table;
  }
  
  nav {
      justify-content: center;
      display: flex;
    position: absolute;
    background-color: white;
    color: black;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-box-shadow: 2px 2px 3px #888;
    font-size: 14px;
    -moz-box-shadow: 2px 2px 3px #888;
    box-shadow: 2px 2px 3px #888;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
  }
  
  /* prime */
  ul.primary li a {
    display: flex;
    padding: 20px 30px;
    border-right: 1px solid white;
  }
  
  ul.primary li:last-child a {
    border-right: none;
  }
  
  ul.primary li a:hover {
    opacity: 50%;
    color: #000;
  }
  
  /* subs */
  ul.sub {
    position:fixed;
    z-index: 200;
    box-shadow: 2px 2px 0 #BEBEBE;
    width: 35%;
    display:none;
  }
  
  ul.sub li {
    float: none;
    margin: 0;
  }
  
  ul.sub li a {
    border-bottom: 1px dotted #ccc;
    border-right: none;
    color: #000;
    padding: 15px 30px;
    margin: 0;
  }
  
  ul.sub li:last-child a {
    border-bottom: none;
  }
  
  ul.sub li a:hover {
    color: #000;
    background: #eeeeee;
  }
  
  /* sub display*/
  ul.primary li:hover ul {
    display: block;
    background: #fff;
  }
  
  /* keeps the tab background white */
  ul.primary li:hover a {
    background: #fff;
    color: #005a87;
    text-shadow: none;
  }
  
  ul.primary li:hover > a{
    color: #000;
  } 
  
  @media only screen and (max-width: 600px) {
    .decor {
      padding: 3px;
    }
    
    .wrap {
      width: 100%;
      margin-top: 0px;
    }
    
     li {
      float: none;
    }
    
    ul.primary li:hover a {
      background: none;
      color: #8B8B8B;
      text-shadow: 1px 1px ;
    }
  
    ul.primary li:hover ul {
      display: block;
     
      color: #fff;
    }
    
    ul.sub {
      display: block;  
      position: static;
      box-shadow: none;
      width: 100%;
    }
    
    ul.sub li a {
     
        border: none;
      color: #8B8B8B;
    }
    
    ul.sub li a:hover {
      color: #ccc;
      background: none;
    }
  }